{% extends "network/layout.html" %}

{% block body %}
    <div id="main">
        <h1>All following's posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="posts">
                    <h3><a class="profilelink" data-id="{{ post.id }}">{{ post.posted_by.username }}</a></h3>
                    {% if user.username == post.posted_by.username %}
                        <p class="edit_button" id="edit_post_{{ post.id }}">Edit</p>
                    {% endif %}
                    <p id="text_{{ post.id }}">{{ post.text }}</p>
                    <textarea class="edit_text" id="textarea_{{ post.id }}" cols="220" rows="4">{{ post.text }}</textarea>
                    <button class="submit btn btn-primary" id="submit_{{ post.id }}">Submit</button>
                    <span class="greytext">{{ post.timestamp }}</span><br>
                    <a href="#" class="greylink">❤️ {{ post.likes }}</a><br>
                    <a href="#" class="greylink">Comment</a>
                </div><br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}