{% extends "network/layout.html" %}

{% block body %}
    <div id="main">
        <h1>All following's posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="posts">
                    <h3><a class="profilelink" href="{% url 'profile' post.posted_by.username %}">{{ post.posted_by.username }}</a></h3>
                    <p>{{ post.text }}</p>
                    <span class="greytext">{{ post.timestamp }}</span><br>
                    <div class="like_div">
                        <span>❤️</span>
                        <button class="like_button" data-id="{{ post.id }}">{{ post.likes }}</button>
                    </div>
                    <p class="greytext">Comment</p>
                </div><br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}