{% extends "network/layout.html" %}

{% block body %}
    <div id="main">
        <h1>All posts</h1>
        <div id="new_post">
            <form action="{% url 'newpost' %}" method="post">
                {% csrf_token %}
                <h3>New Post</h3>
                <textarea name="new_post" cols="220" rows="4"></textarea><br>
                <input type="submit" value="Post" class="btn btn-primary">  
            </form>
        </div><br>
        {% if posts %}
            {% for post in posts %}
                <div class="posts">
                    <h3><a href="{% url 'profile' post.posted_by.username %}" class="profilelink">{{ post.posted_by.username }}</a></h3>
                    {% if user.username == post.posted_by.username %}
                        <p><a href="#">Edit</a></p>
                    {% endif %}
                    {{ post.text }}<br>
                    <span class="greytext">{{ post.timestamp }}</span><br>
                    <a href="#" class="greylink">❤️ {{ post.likes }}</a><br>
                    <a href="#" class="greylink">Comment</a>
                </div><br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}