{% extends "network/layout.html" %}

{% block title %}
    Profile info
{% endblock %}

{% block body %}
    <div id="profile">
        {% if follow and not followed %}
            <form action="{% url 'follow' user_profile.username %}" method="post">
            {% csrf_token %}  
                <input type="submit" value="Follow" class="btn btn-primary follow">
            </form>
        {% elif followed and not follow %}
            <form action="{% url 'unfollow' user_profile.username %}" method="post">
            {% csrf_token %}
                <input type="submit" value="Unfollow" class="btn btn-primary follow">
            </form>
        {% endif %}
        <h1>{{ user_profile.username|capfirst }}'s profile</h1>
        Followers : {{ user_profile.followers|length }} <br>
        Following : {{ user_profile.following|length }} <br>
        <h3>Posts</h3>
        {% if posts %}
            {% for post in posts %}
                <div class="posts">
                    <h3><a class="profilelink" data-id="{{ post.id }}">{{ post.posted_by.username }}</a></h3>
                    <p class="edit_button" id="edit_post_{{ post.id }}" data-id="{{ post.id }}">Edit</p>
                    <p id="text_{{ post.id }}">{{ post.text }}</p>
                    <textarea class="edit_text" id="textarea_{{ post.id }}" cols="98" rows="4">{{ post.text }}</textarea>
                    <button class="submit btn btn-primary" id="submit_{{ post.id }}">Submit</button>
                    <span class="greytext">{{ post.timestamp }}</span><br>
                    <div class="like_div">
                        <span>❤️</span>
                        <button class="like_button" data-id="{{ post.id }}" id="like_button_{{ post.id }}">{{ post.likes.count }}</button>
                    </div>
                    <p class="greytext">Comment</p>
                </div><br>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1">&laquo; First page</a> |
                        <a href="?page={{ posts.previous_page_number }}">Previus page</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>
            
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">Next page</a> |
                        <a href="?page={{ posts.paginator.num_pages }}">Last page &raquo;</a>
                    {% endif %}
                </span>
            </div>
        {% else %}
            {{ user_profile.username }} haven't posted anything yet!
        {% endif %}
    </div>
{% endblock %}