#main {
    padding: 10px 20px 0 20px;
}

.posts, #new_post {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.greytext, .greylink {
    color: gray;
    text-decoration: none;
}

.greylink:hover {
    text-decoration: none;
    color: gray;
}

.profilelink {
    text-decoration: none;
    color: black;
}

.profilelink:hover {
    text-decoration: none;
    color: black;
}

#profile {
    width: 800px;
    height: auto;
    margin: 5px auto;
    border: 0.5px silver solid;
    padding: 15px;
}

.follow {
    display: inline;
    float: right;
    margin: 15px;
}

#edit_post {
    color: blue;
}